<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
     <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
</head>
<body>
    
            <header class="jumbotron">
                <div class="container">
                    <div class="row row-header">
                        <div class="col-12 col-sm-6">
                            <h1><b>Corona virus:&nbspCovid-19</b></h1>
                            <p>The most common symptoms of COVID-19 are fever, tiredness, and
                               dry cough. Some patients may have aches and pains, nasal
                               congestion, runny nose, sore throat or diarrhea. These symptoms are
                            usually mild and begin gradually. </p>
                        </div>
                        <div class="col-12 col-sm align-self-center">
                            <img src="img/3.jpg" class="img-fluid">
                        </div>
                        
                    </div>
                </div>
            </header>
</body>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-primary">Logout</a>
<div class="row justify-content-center fixed-bottom">             
    